
html {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  /*background-image: url("https://www.fmirobcn.org/media/upload/cache/biblioteca_personal_joan_miro_1506610796_a1060338.jpg");*/
}

html,
body {
height: 100%;
}

/* *********** SPLASHSCREEN MAIN ********** */

.splash-screen-main {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-button {
  
  padding: 20px;
  width: 30%;
  max
}




